body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f0f2f5;
}

/* HEADER */
header {
    background: linear-gradient(90deg, #1e3c72, #2a5298);
    color: white;
    text-align: center;
    padding: 40px 20px;
}

/* MENÚ */
nav {
    background: #222;
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #00d4ff;
}

/* SECCIONES */
section {
    background: white;
    margin: 20px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* IMÁGENES */
img {
    width: 45%;
    border-radius: 10px;
    margin: 10px;
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.05);
}

/* BOTÓN */
button {
    background: #2a5298;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #1e3c72;
}

/* FOOTER */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
        }
